@charset "UTF-8";
/*estilos para impressora*/
*{
    margin: 0px;
    padding: 0px;
}

html{
    font-family: courier new, courier, monospace;
    font-size: 1em;
    line-height: 1.5em;
}

menu {
    display: none;
}
article {
    width: 100%;
    
}
article::after {
    content: "esse artigo foi impresso através do site www.cursoemvideo.com";
  }
  